<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn7X_6MMvy2YoMGRTL8KLR50XHYZSgyF0</string>
	<key>GCM_SENDER_ID</key>
	<string>686130371670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pratik-Patil.ArtEcho</string>
	<key>PROJECT_ID</key>
	<string>artechofirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>artechofirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686130371670:ios:07690da768187d3211eff7</string>
</dict>
</plist>